
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: beige;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bio, .carreira, .vida-pessoal {
    margin-bottom: 1.5rem;
}

.sd4 {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem auto;
    
}

h1 {
    color: black;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sobre{
    margin-top: 30px;
}
p{
    text-align: center;
}